<!DOCTYPE html>
<html>
	<head>
		<title>My Flask App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				{% if name %}
					<h1>Hello {{ name }}</h1>
				{% else %}
					<h1>Hello! What's your name</h1>
					<form action="/" class="form-inline">
						<div class="form-group">
							<input type="text" name="name" class="form-control" placeholder="Enter your name">
							<input type="submit" value="Submit" class="btn btn-primary">
						</div>
					</form>
				{% endif %}
				<a href="{{ url_for('about') }}">About Us</a>
				<a href="{{ url_for('weather') }}">weather</a>
			</div><!--.container-->
		</div><!--.jumbotron-->
	</body>
</html>