<!DOCTYPE html>
<html>
	<head>
		<title>My Flask App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

	</head>
	<body>
		<div class="menu">
			<nav class="navbar navbar-light bg-faded">
			<a class="navbar-brand" href="{{ url_for('index') }}">OMPython</a>
			<ul class="nav navbar-nav">
			<li class="nav-item active">
			<a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('about') }}">About</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
			</li>
			</ul>
			</nav>
		</div>
		<div class="jumbotron">
			<div class="container">
				<h1>Company Search</h1>
				<br>
				<form action="/" class="form-inline">
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Company name or number">
						<input type="submit" value="Find" class="btn btn-primary">
					</div>
				</form>
			</div><!--.container-->
		</div><!--.jumbotron-->
		<div class="container">
			{% if details == None %}
				<p>This is a simple flask app, it uses python and companies house api to look up a specific UK company by company name or number</p>
			{% else %}
				<table class="table table-striped">
					<thead class="thead-inverse">
						<tr>
							<th>Company</th>
							<th>Registration Number</th>
							<th>Incorporation Date</th>
						</tr>
					</thead>
					<tbody>
						{% for detail in details %}
							<tr>
								<th><a href="{{ url_for('index') }}?cono={{ detail.company_number }}">{{ detail.title }}</a></th>
								<th>{{ detail.company_number }}</th>
								<th>{{ detail.date_of_creation }}</th>
							</tr>
						{% endfor %}
					</tbody>
				</table>
	 		{% endif %}
	 		{% if co_no %}
	 			<table class="table table-striped">
					<tbody>
							<tr>
								<th>Company Name</th>
								<th>{{ profile.company_name }}</th>
							</tr>
							<tr>
								<th>Company Number</th>
								<th>{{ profile.company_number }}</th>
							</tr>
							<tr>
								<th>Company Type</th>
								<th>{{ profile.type }}</th>
							</tr>
							<tr>
								<th>Incorporated On</th>
								<th>{{ profile.date_of_creation }}</th>
							</tr>
							<tr>
								<th>Sic Code</th>
								<th>{{ profile.sic_codes}}</th>
							</tr>
							<tr>
								<th>Accounts</th>
								<th>
								{% if 'confirmation_statement' in profile %}
									Available From {{ profile.last_full_members_list_date }}. Next accounts due {{ profile.confirmation_statement.next_made_up_to }}
								{% else %}
									Not Available
								{% endif %}
								</th>
							</tr>
							<tr>
								<th>Company Status</th>
								<th>{{ profile.company_status }}</th>
							</tr>
						
					</tbody>
				</table>
			{% endif %}
		</div>
	</body>
</html>